<section id="about">
  <div class="about-container-color container">
    <h2 class="about-title">About Ezoterium</h2>
    <img
      class="about-img"
      src="../img/razdel-1x.webp"
      srcset="../img/razdel-2x.webp"
      alt="razdel"
    />
    <p class="about-text">
      A Match-3 RPG Like No Other<br />
      Ezoterium is more than just a match-3 puzzle game — it’s an immersive RPG
      experience that challenges your strategic thinking and reflexes. Each
      level is designed to test your problem-solving skills with increasing
      complexity and engaging mechanics. Unlike typical match-3 games, Ezoterium
      incorporates character progression and exploration elements. As you
      complete puzzles, you gain stars that unlock new characters with unique
      abilities, adding depth and personalization to your gameplay. Explore an
      expansive universe where each planet has its own lore, puzzles, and
      secrets waiting to be uncovered. This game blends relaxation with
      challenge, making it suitable for both casual players and dedicated puzzle
      enthusiasts.
    </p>
  </div>
  <div class="about-container-image container"></div>
</section>
