<section class="connected-section" id="connected">
  <div class="container">
    <h2 class="connected-title">Stay Connected</h2>
    <div class="connected-text-wrapper">
      <h3 class="connected-subtitle">Join Our Community
      </h3>
      <div class="divider-arrow"></div>
      <p class="connected-text">Follow Ezoterium on social media for the latest updates, sneak peeks, tips, and exclusive events. Join discussions,
      share your high scores, and connect with fellow puzzle enthusiasts around the globe. Your next big match is just a click
      away.</p>
      <ul class="connected-list">
        <li class="connected-list-item" aria-label="facebook">
          <a class="connected-list-link" href="https://facebook.com/EzoteriumGame" target="_blank">
            <svg class="connected-social-icon" width="15" height="28">
              <use href="/img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="connected-list-item" aria-label="tiktok">
          <a class="connected-list-link" href="https://twitter.com/EzoteriumGame" target="_blank">
            <svg class="connected-social-icon" width="20" height="25">
              <use href="/img/icons.svg#tiktok"></use>
            </svg>
          </a>
        </li>
        <li class="connected-list-item" aria-label="xcom">
          <a class="connected-list-link" href="https://x.com" target="_blank">
            <svg class="connected-social-icon" width="25" height="22">
              <use href="/img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="connected-list-item" aria-label="reddit">
          <a class="connected-list-link" href="https://reddit.com" target="_blank">
            <svg class="connected-social-icon" width="25" height="22">
              <use href="/img/icons.svg#reddit"></use>
            </svg>
          </a>
        </li>
        <li class="connected-list-item" aria-label="instagam">
          <a class="connected-list-link" href="https://instagram.com/EzoteriumGame" target="_blank">
            <svg class="connected-social-icon" width="22" height="22">
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="connected-community-text">Stay tuned and be part of our growing community!</p>
    </div>
  </div>
</section>