<section class="contact-section">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-text-wrapper">
      <h3 class="contact-subtitle">We’re Here to Help
        <span class="contacts-subtitle-span">
          .
        </span>
      </h3>
      <div class="divider-arrow"></div>
      <p class="contact-text">Got questions or feedback? Reach out anytime!</p>
    </div>
    <div class="contact-address">
      <h4 class="contact-address-title">Email:</h4>
      <address>
        <a class="contact-link" href="mailto:info@lunarwind.site">info@lunarwind.site</a>
      </address>
    </div>
    <p class="contact-text second-para">Our support team is committed to providing quick and helpful responses to make your Ezoterium experience smooth and
    enjoyable</p>
    <div class="divider-plank"></div>
  </div>
</section>