<div id="cookie-modal" class="cookie-modal">
  <div class="cookie-modal-container container">
    <h3 class="cookie-modal-title mob">Cookies</h3>
    <h3 class="cookie-modal-title desc">Cookies Policy</h3>
    <p class="cookie-modal-text">
      We use cookies to improve your experience on our website. By continuing to
      browse, you agree to our use of cookies.
    </p>
    <div class="cookie-modal-btn-container">
      <button id="cookie-modal-btn-accept" class="cookie-modal-btn">
        <svg class="cookie-modal-svg accept" width="200" height="40">
          <use href="/img/icons.svg#icon-cookie-accept"></use>
        </svg>
      </button>
      <button id="cookie-modal-btn-decline" class="cookie-modal-btn">
        <svg class="cookie-modal-svg dicline" width="200" height="40">
          <use href="/img/icons.svg#icon-cookie-decline"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
