<section class="explore">
  <div class="container">
    <h2 class="explore-title">Explore Unique Worlds</h2>
    <h3 class="explore-subtitle">Unlock and Conquer</h3>
    <img
      class="overview-img"
      src="/img/razdel-1x.webp"
      srcset="/img/razdel-2x.webp"
      alt="razdel"
    />
    <div class="explore-wrapper">
      <div class="explore-swipe">
        <div class="swiper explore-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/dragonilum.webp    1x,
                    /img/explore/dragonilum-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/dragonilum-mob.webp    1x,
                    /img/explore/dragonilum-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/dragonilum-mob.webp"
                  alt="Dragonilum"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #d051c5">
                Dragonilum
              </p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/ganerishi.webp    1x,
                    /img/explore/ganerishi-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/ganerishi-mob.webp    1x,
                    /img/explore/ganerishi-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/ganerishi-mob.webp"
                  alt="Ganerishi"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #e96338">Ganerishi</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/glacius.webp    1x,
                    /img/explore/glacius-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/glacius-mob.webp    1x,
                    /img/explore/glacius-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/glacius-mob.webp"
                  alt="Glacius"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #bea0c5">Glacius</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/icelandia.webp    1x,
                    /img/explore/icelandia-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/icelandia-mob.webp    1x,
                    /img/explore/icelandia-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/icelandia-mob.webp"
                  alt="Icelandia"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #64a2b5">Icelandia</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/mechana.webp    1x,
                    /img/explore/mechana-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/mechana-mob.webp    1x,
                    /img/explore/mechana-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/mechana-mob.webp"
                  alt="Mechana"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #4516a2">Mechana</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/nibulina.webp    1x,
                    /img/explore/nibulina-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/nibulina-mob.webp    1x,
                    /img/explore/nibulina-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/nibulina-mob.webp"
                  alt="Nibulina"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #601f2f">Nibulina</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/opila.webp    1x,
                    /img/explore/opila-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/opila-mob.webp    1x,
                    /img/explore/opila-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/opila-mob.webp"
                  alt="Opila"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #90cefa">Opila</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/starlumin.webp    1x,
                    /img/explore/starlumin-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/starlumin-mob.webp    1x,
                    /img/explore/starlumin-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/starlumin-mob.webp"
                  alt="Starlumin"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #cb57a6">Starlumin</p>
            </div>
            <div class="swiper-slide explore-slide">
              <picture>
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/explore/trambuila.webp    1x,
                    /img/explore/trambuila-2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/explore/trambuila-mob.webp    1x,
                    /img/explore/trambuila-mob-2x.webp 2x
                  "
                />
                <img
                  src="/img/explore/trambuila-mob.webp"
                  alt="Trambuila"
                  class="slide-img"
                />
              </picture>
              <p class="explore-swipe-text" style="color: #3c8888">Trambuila</p>
            </div>
          </div>
          <div class="swiper-button-prev explore-prev">
            <svg class="swiper-svg" width="48" height="48">
              <use href="/img/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="swiper-button-next explore-next">
            <svg class="swiper-svg" width="48" height="48">
              <use href="/img/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="explore-content">
        <p class="explore-content-text">
          Ezoterium’s universe consists of multiple beautifully crafted planets,
          each offering a new visual theme and unique puzzle challenges. From
          mystical enchanted forests filled with glowing crystals to futuristic
          alien landscapes alive with advanced technology, every world presents
          fresh gameplay elements. As you collect stars by completing levels,
          you unlock new characters and worlds, expanding your adventure across
          the galaxy. Each planet comes with its own set of puzzles, obstacles,
          and power-ups, keeping the experience varied and exciting. Progression
          is rewarding and designed to encourage exploration — the deeper you
          go, the more mysteries and bonuses you’ll discover. Your
          puzzle-solving skills will grow as you navigate these diverse
          environments.
        </p>
        <img
          class="explore-content-img"
          src="/img/explore/explore-world-img.webp"
          srcset="/img/explore/explore-world-img.webp 1x, /img/explore/explore-world-img-2x 2x.webp"
          alt="explore-image"
        />
      </div>
    </div>
  </div>
</section>
