<section class="version-section" id="version">
  <div class="container">
    <div class="version-text-wrapper">
      <h2 class="version-title">Game Version & Requirements</h2>
      <div class="divider-arrow version-divider"></div>
      <p class="version-text">
        Stay up-to-date with the latest features and fixes in version 1.8.49,
        released on May 26, 2025. Compatible with Android devices running
        version 6.0 and above. Join a community of over 100,000 players
        worldwide who have already downloaded and fallen in love with Ezoterium.
      </p>
    </div>
  </div>
  <div class="version-image-wrapper container"></div>
</section>
