<header class="header">
  <div class="container">
    <div class="header-logo-wrapper">
      <img class="header-logo-title" 
        src="/img/text-logo@1x.webp" 
        alt="text-logo"
        srcset="/img/text-logo@1x.webp 1x, /img/text-logo@2x.webp 2x">
      <a class="header-logo-link" href="./index.html">
        <img class="header-logo" 
        src="/img/logo@1x.webp" 
        alt="logo" 
        srcset="/img/logo@1x.webp 1x, /img/logo@1x.webp 2x">
      </a>
      <button class="header-burger-btn" type="button" data-action="open">
        <svg class="header-burger-icon" width="40" height="40">
          <use href="/img/icons.svg#burger"></use>
        </svg>
      </button>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list" id="header-nav-links">
        <li class="header-nav-list-item" data-value="hero">
          <a class="header-nav-list-link" href="#hero">Home</a>
        </li>
        <li class="header-nav-list-item" data-value="about">
          <a class="header-nav-list-link" href="#about">About</a>
        </li>
        <li class="header-nav-list-item" data-value="overview">
          <a class="header-nav-list-link" href="#overview">Gameplay</a>
        </li>
        <li class="header-nav-list-item" data-value="worlds">
          <a class="header-nav-list-link" href="#worlds">Worlds</a>
        </li>
        <li class="header-nav-list-item" data-value="features">
          <a class="header-nav-list-link" href="#features">Features</a>
        </li>
        <li class="header-nav-list-item" data-value="why-play">
          <a class="header-nav-list-link" href="#why-play">Why Play</a>
        </li>
        <li class="header-nav-list-item" data-value="version">
          <a class="header-nav-list-link" href="#version">Version</a>
        </li>
        <li class="header-nav-list-item" data-value="start">
          <a class="header-nav-list-link" href="#start">Getting Started</a>
        </li>
        <li class="header-nav-list-item" data-value="reviews">
          <a class="header-nav-list-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list-item" data-value="connected">
          <a class="header-nav-list-link" href="#connected">Community</a>
        </li>
        <li class="header-nav-list-item" data-value="contact">
          <a class="header-nav-list-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  
</header>
