<section class="hero">
  <!-- <div class="container"> -->
    <div class="container-image container">
      <div class="container-title">
        <h1 class="hero-title">Ezoterium</h1>
        <p class="hero-text">
          Step into a magical world of puzzles and adventure with Ezoterium
        </p>
      </div>
    </div>
    <div class="container-color container">
      <a href="https://play.google.com/store/apps/details?id=com.game.ezoterium&hl=en&gl=us" target="_blank"><button class="btn-play">
        <img class="icon-play" src="/img/icon-play-market.webp" alt="Play market" width="48" height="52"></img>Play on Google Play
      </button></a>
    </div>
  <!-- </div> -->
</section>
