<section class="hero-section">
  <div class="container hero-section-container">
    <h2 class="hero-section-title">Hero Section</h2>
    <h3 class="hero-section-subtitle">Discover Ezoterium</h3>
    <img
      class="hero-section-img"
      src="/img/razdel-1x.webp"
      srcset="/img/razdel-2x.webp"
      alt="razdel"
    />
    <p class="hero-section-text">
      Step into a magical world of puzzles and adventure with Ezoterium: Match-3
      Puzzle RPG. This game combines classic match-3 mechanics with immersive
      RPG elements to create a challenging and rewarding experience. Match
      tiles, unlock powerful abilities, and journey across mysterious planets.
      Your puzzle mastery awaits!
    </p>
    <img
      class="hero-section-img"
      src="/img/razdel2.webp"
      srcset="/img/razdel2-2x.webp"
      alt="razdel"
    />
    <svg class="hero-section-svg" width="244" height="44">
      <use href="/img/icons.svg#scull"></use>
    </svg>
  </div>
</section>
