<section class="start-section" id="start">
  <div class="container">
    <h2 class="start-title">How to Get Started</h2>
    <h3 class="start-subtitle">Quick & Easy</h3>
    <div class="divider-arrow start-divider"></div>
  </div>
  <div class="start-content-wrapper-color">
    <div class="container">
      <div class="start-content-wrapper">
        <p class="start-text">Getting started with Ezoterium is simple and hassle-free. Just download the game from the Google Play Store, and launch
        it to begin your journey. The user-friendly interface and intuitive tutorials will guide you through the basics of
        matching tiles, using power-ups, and unlocking new worlds. There’s no need for lengthy instructions — the gameplay
        mechanics are designed to be learned naturally as you play. Whether you have five minutes or an hour, Ezoterium fits
        perfectly into your schedule, allowing you to play at your own pace. Plus, the game saves your progress automatically,
        so you can pick up right where you left off anytime, anywhere.
        </p>
        <div class="start-image-wrapper"></div>
        
        
      </div>
      
      
    </div>
    <div class="start-image-wrapper-color"></div>
  </div>
</section>