<div class="mobile" data-visible>
  <div class="container">
    <button  class="mobile-close-btn" type="button" data-action="close">
      <svg class="mobile-close-icon" width="40" height="40">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list" id="mobile-list-links">
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-list-link" href="./index.html" id="home-link">Hero Section</a>
        </li>
        <li class="mobile-nav-list-item" id="about-link">
          <a class="mobile-nav-list-link" href="#about">About Ezoterium</a>
        </li>
        <li class="mobile-nav-list-item" id="overview-link">
          <a class="mobile-nav-list-link" href="#overview">Gameplay Overview</a>
        </li>
        <li class="mobile-nav-list-item" id="worlds-link">
          <a class="mobile-nav-list-link" href="#worlds">Explore Unique Worlds</a>
        </li>
        <li class="mobile-nav-list-item" id="features-link">
          <a class="mobile-nav-list-link" href="#features">Special Features</a>
        </li>
        <li class="mobile-nav-list-item" id="why-play-link">
          <a class="mobile-nav-list-link" href="#why-play">Why Play Ezoterium</a>
        </li>
        <li class="mobile-nav-list-item" id="version-link">
          <a class="mobile-nav-list-link" href="#version">Game Version</a>
        </li>
        <li class="mobile-nav-list-item" id="start-link">
          <a class="mobile-nav-list-link" href="#start">How to Get Started</a>
        </li>
        <li class="mobile-nav-list-item" id="reviews-link">
          <a class="mobile-nav-list-link" href="#reviews">User Reviews</a>
        </li>
        <li class="mobile-nav-list-item" id="connected-link">
          <a class="mobile-nav-list-link" href="#connected">Stay Connected</a>
        </li>
        <li class="mobile-nav-list-item" id="contact-link">
          <a class="mobile-nav-list-link" href="#contact">Contact Us</a>
        </li>
      </ul>
  </div>
  </nav>
</div>