<section>
  <div class="overview-container container">
    <h2 class="owerview-title">Gameplay Overview</h2>
    <h3 class="owerview-subtitle">Master the Match3 Mechanics</h3>
    <img
      class="overview-img"
      src="../img/razdel-1x.webp"
      srcset="../img/razdel-2x.webp"
      alt="razdel"
    />
    <p class="owerview-text">
      At its core, Ezoterium invites you to match three or more identical tiles
      to clear the board and complete level objectives. But there’s a twist: the
      game features both classic square grids and innovative hexagonal boards,
      each offering distinct strategic challenges. As you progress, you’ll
      encounter special tiles that trigger powerful combos and chain reactions,
      helping you clear obstacles faster. Some levels require you to collect
      specific tiles, clear locked or frozen blocks, or achieve high scores
      within a limited number of moves. Strategic use of power-ups like bombs,
      lightning strikes, and tile swaps can turn the tide when you’re stuck. The
      gameplay is easy to pick up but difficult to master, providing hours of
      brain-training fun.
    </p>
  </div>
  <div class="image-container container">
    <img
      class="overview-img-iphone"
      src="../img/iPhone16.webp"
      srcset="../img/iPhone16-2x.webp"
      alt="iPhone 16"
    />
  </div>
</section>
