<section class="features" id="features">
  <div class="container">
    <h2 class="features-title">Special Features</h2>
    <h3 class="features-subtitle">What Sets Ezoterium Apart</h3>
    <img
      class="features-img"
      src="/img/razdel-1x.webp"
      srcset="/img/razdel-2x.webp"
      alt="razdel"
    />
    <div class="swiper swiper-features" data-action="swiper-features">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="features-slide">
            <h3 class="features-swiper-title features-swiper-text">
              Dual board types:
            </h3>
            <p class="features-swiper-text">
              Square and hexagonal puzzle grids that add variety and complexity
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features-slide">
            <h3 class="features-swiper-title features-swiper-text">
              Challenging Levels:
            </h3>
            <p class="features-swiper-text">
              Over 200 handcrafted puzzles ranging from easy to expert
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features-slide">
            <h3 class="features-swiper-title features-swiper-text">
              Vibrant Graphics:
            </h3>
            <p class="features-swiper-text">
              Bright, colorful art style that enchants players of all ages
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features-slide">
            <h3 class="features-swiper-title features-swiper-text">
              Power-ups & Bonuses:
            </h3>
            <p class="features-swiper-text">
              Use bombs, lightning bolts, and unique magical boosts to overcome
              tough puzzles
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="features-slide">
            <h3 class="features-swiper-title features-swiper-text">
              Immersive Audio:
            </h3>
            <p class="features-swiper-text">
              Relaxing background music and sound effects designed to enhance
              focus and immersion
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-features-pagination" data-action="features-pagination"></div>
    </div>
    <img
      class="features-image"
      src="/img/razdel2.webp"
      srcset="/img/razdel2-2x.webp"
      alt="razdel"
    />
    <svg class="features-svg">
      <use href="/img/icons.svg#bat"></use>
    </svg>
  </div>
</section>
