<section class="why-play" id="why-play">
  <div class="container">
    <h2 class="why-play-title">Why Play Ezoterium?</h2>
    <h3 class="why-play-subtitle">Unlock and Conquer</h3>
    <img
      class="why-play-img"
      src="/img/razdel-1x.webp"
      srcset="/img/razdel-2x.webp"
      alt="razdel"
    />
    <p class="why-play-text">
      Ezoterium stands out by combining classic puzzle gameplay with rich RPG
      elements, creating a game that’s both mentally stimulating and deeply
      engaging. It’s ideal for players of all ages who want to improve
      concentration, memory, and strategic thinking in a fun way. The game is
      designed to be accessible for beginners while providing enough complexity
      and variety to satisfy advanced players. It encourages replayability
      through its diverse levels, special challenges, and character upgrades.
      Playing Ezoterium is not just a pastime — it’s a way to train your brain,
      relax after a busy day, and experience an epic interstellar adventure.
      Plus, it’s perfect for social play — compete with friends or share
      progress and tips.
    </p>
    <svg class="why-play-svg" width="244" height="44">
      <use href="/img/icons.svg#scull"></use>
    </svg>
    <img
      class="why-play-img-bottle"
      src="/img/bottle-purple.webp"
      alt="bottle"
      srcset="/img/bottle-purple.webp 1x, /img/bottle-purple-2x.webp 2x"
    />
  </div>
</section>
