.start-section {
  padding: 49px 0 0;
  background-color: #bea0c5;
  scroll-margin-top: 72px;
}

.start-content-wrapper-color {
  position: relative;
}

.start-image-wrapper-color {
  background-color: #2c003e;
  height: 324px;
  width: 100%;
  position: absolute;
  bottom: 140px;
}

.start-image-wrapper {
  background-image: url('/img/start-mob@1x.webp');
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 288px;
  height: 514px;
  position: absolute;
  bottom: 45px;
  z-index: 1;
}



.start-title {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #2c003e;
  text-align: center;
  margin-bottom: 8px;
}

.start-subtitle {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #2c003e;
  margin-bottom: 22px;
}

.divider-arrow.start-divider {
  margin-bottom: 22px;
}

.start-text {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
  color: #2c003e;
  padding-bottom: 581px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .start-image-wrapper {
    background-image: url('/img/start-mob@2x.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1200px) {
  .start-section {
    padding: 50px 0 0;
    background-color: #2c003e;
    scroll-margin-top: 98px;
  }

  .start-title {
    font-family: 'Slackey', sans-serif;
    font-size: 48px;
    color: #ebe7ec;
  }

  .start-subtitle {
    font-family: 'Slackey', sans-serif;
    font-size: 24px;
    color: #ebe7ec;
    margin-bottom: 13px;
  }

  .start-content-wrapper {
    display: flex;
    flex-direction: row;
    max-height: 351px;
    gap: 31px;
    width: 100%;
    margin: 0 auto;
    padding-left: 32px;
  }

  .start-content-wrapper-color {
    background-color: #bea0c5;
  }

  .start-image-wrapper {
    background-image: url('/img/start-desk@1x.webp');
    background-position: center bottom;
    width: 383px;
    position: relative;
    top: -34px;
    flex-shrink: 0;
  }

  .start-image-wrapper-color {
    display: none;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2x) {
    .start-image-wrapper {
      background-image: url('/img/start-desk@2x.webp');
    }
  }

  .start-text {
    font-family: 'Overlock SC', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: justify;
    color: #2c003e;
    order: 2;
    padding: 36px 0 45px;
    width: 711px;
    line-height: 1.24;
  }
}
