.overview-container {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  overflow: visible;
  z-index: 1;
  background: #2c003e;
  padding-bottom: 550px;
}
.owerview-title {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #ebe7ec;
  text-align: center;
  margin-bottom: 8px;
}
.owerview-subtitle {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #ebe7ec;
  margin-bottom: 24px;
}
.owerview-text {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
  color: #ebe7ec;
}
.image-container {
  background-color: #bea0c5;
  position: relative;
  z-index: 2;
  height: 120px;
}
.overview-img-iphone {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
}
.overview-img {
  margin-bottom: 20px;
}
.overview-svg {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .overview-container {
    background: linear-gradient(to bottom, #bea0c5 31%, #2c003e 31%);
    padding: 40px 20px;
  }
  .owerview-title {
    font-family: 'Slackey', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #2c003e;
  }
  .owerview-subtitle {
    font-family: 'Slackey', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #2c003e;
    margin-bottom: 55px;
  }
  .owerview-text {
    max-width: 683px;
    font-family: 'Overlock SC', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: justify;
    color: #bea0c5;
  }
  .overview-img {
    display: none;
  }
  .overview-img-iphone {
    width: 482px;
    height: 626px;
    bottom: 10px;
  }
  .image-container {
    padding: 54px 0;
    height: auto;
  }
  .overview-svg {
    display: block;
    fill: #2c003e;
    margin: 0 auto;
  }
}
