.overview-container {
  background-color: #2c003e;
  padding-top: 48px;
  padding-bottom: 400px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.owerview-title {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #ebe7ec;
  text-align: center;
  margin-bottom: 8px;
}
.owerview-subtitle {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #ebe7ec;
  margin-bottom: 24px;
}
.owerview-text {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
  color: #ebe7ec;
}
.image-container {
  height: 94px;
  background-color: #bea0c5;
  position: relative;
  overflow: visible;
  z-index: 2;
}
.overview-img-iphone {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: 3;
}
