.features {
  background: #2c003e;
  padding-top: 58px;
}
.features-title {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #ebe7ec;
  margin-bottom: 8px;
  text-align: center;
}
.features-subtitle {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #ebe7ec;
  margin-bottom: 22px;
}
.features-img {
  margin-bottom: 92px;
}
.swiper-slide {
  background: url('/img/background-features-2x.webp');
  min-height: 320px;
  padding: 38px 44px 0px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.features-swiper-title {
  margin-bottom: 28px;
  font-size: 28px;
}
.features-swiper-text {
  font-family: 'Overlock SC', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #2c003e;
}
.swiper-features {
  margin-bottom: 64px;
}
.features-image {
  margin-bottom: 14px;
}
.features-svg {
  fill: #ebe7ec;
  display: block;
  margin-left: auto;
}
